.customize-control-range,
.customize-control-select,
.customize-control-checkbox {
  .customize-control-title {
    margin-bottom: 0.25rem;
  }
  input[type="range"] { width: 100%; }
  .range-value { min-width: 2rem; display: inline-block; text-align: center; }
  select { width: 100%; }
  input[type="text"] { width: auto; }
}
