@use "settings/variables" as *;
@use "settings/mixins"    as *;

.zero-responsive-embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
}
.zero-responsive-embed iframe { position: absolute; width: 100%; height: 100%; top:0; left:0; }
